@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
@*    <p>learn about <a href="https://docs.microsoft.com/aspnet/core">buiore</a>.</p>*@
    <h1 class="mb-1">My Blog</h1>
    <div>
        <h2 class="text-muted">        Recent Post</h2>

    </div>
    <div class="bg-white">    
        <div class="d-flex justify-content-center align-items-start ">
        <div class="d-flex flex-column ml-4 align-items-start">
        <img src="~/img/ice-cream.jpg" height="450px" width="370px" alt="e" class="mb-2" />
            <h3 class="text-muted">Car rides </h3>
            <p> Strawberry ice cream Strawberry ice creamStrawberry ice cream</p>
    </div>
        <div class="d-flex flex-column ml-4 align-items-start">
            <img src="~/img/coffee.jpg" height="450px" width="370px" alt="e" class="mb-2" />
            <h3 class="text-muted">One spoon</h3>
            <p> Laughing 'bout how small Laughing 'bout how small Laughing 'bout how small </p>
    </div>
        <div class="d-flex flex-column ml-4 align-items-start">
            <img src="~/img/glee.jpg" height="450px" width="370px" alt="e" class="mb-2" />
            <h3 class="text-muted">Glee </h3>
            <p class="align-self-start"> Being annoying Being annoying Being annoying Being annoying </p>
    </div>

    </div></div>



    <div>

        <h2 class="post-title">Car rides to Malibu Strawberry ice cream</h2>
    </div>
</div>


@*https://websitedemos.net/love-nature-02/*@