@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center">Kathryn Bernardo</h1>
<div justify-content: flex-start;>
    <p>Kathryn Bernardo is a Filipino actress known for her role in the TV series ‘Princess and I’ as well as for her roles in movies such as ‘She’s Dating the Gangster’ and ‘Barcelona: A Love Untold’. She is also a model and a recording artist. She was born in Cabanatuan City in the Philippines and made her acting debut with a small role in the TV series ‘It Might Be You’. She came to popularity for her work in the teen drama series ‘Princess and I’ where she played the lead role. The show won multiple awards. Her first important role on the big screen was in the 2011 family drama film ‘Way Back Home’. The film was about two sisters who were separated for twelve years, growing up in two completely different worlds. The same year, she also appeared in the horror anthology film ‘Shake, Rattle and Roll 13’. The film was met with positive reviews and received multiple awards. Her other popular big screen projects include the romantic comedy film ‘She’s Dating the Gangster’ which was also met with positive reviews. A multitalented young lady, she is also a recording artist. As a singer, she has released multiple singles as well as a studio album ‘Kathryn’. The album was a commercial success, selling more than 7,500 copies on the first day of its release.</p>
</div>
<div class="text-center">
    <br />  
    <img src="https://i.pinimg.com/1200x/f4/24/14/f42414b41be0dec6299f855bdac45ca5.jpg" alt="Tutora Poster" style="width:300px;height:450px;">
    <br />
</div>

<div class="text-left">
    <br /> 
    <h2 style="color:dodgerblue">Childhood and Early Life</h2>
    <p>Kathryn Bernardo was born on 26th March 1996 in Cabanatuan in the Philippines. Her parents are Luzviminda Bernardo and Teodore Bernardo. She was raised alongside her three siblings: two sisters named Chrysler Bernardo and Kaye Bernardo, and one brother named Kevin Cabanatuan.</p>
    <p>She did her initial schooling from OB Montessori Center Inc. Once she began acting, she was home-schooled. She later enrolled at Enderun Colleges, Taguig, to study marketing.</p>
</div>
<div class="text-left">
    <br /> 
    <h2 style="color:dodgerblue">Quick Facts</h2>
    <ul>
        <li>Boyfriend: Daniel Padilla</li>
        <li>Also Known As: Kathryn Chandria Manuel Bernardo</li>
        <li>Age: 27 Years, 27 Year Old Females</li>
        <li>Height: 5'2" (157 cm),</li>
        <li>Father: Luzviminda Bernardo</li>
        <li>Mother: Teodore Bernardo</li>
        <li>Siblings: Chrysler Bernardo, Kaye Bernardo, Kevin Bernardo</li>
    </ul>
</div>
<div class="text-left">
    <br />
    <h2 style="color:dodgerblue">Acting Career</h2>
    <ul>
        <li>Kathryn Bernardo’s acting career began in 2003, with a minor role in the TV series ‘It Might Be You’. Her first main role was in the TV series ‘Super Inggo’ (2006) where she played Maya, the love interest of the main character. The show revolved around a ten-year-old boy Budong, who dreams of becoming a superhero one day.</li>
        <li>After making a name for herself in the television industry, she ventured into films as well. In the mid-2000s, she was seen in films, such as ‘Gagamboy’ (2004), ‘Taltong Baraha’ (2006) and ‘Supahpapalicious’ (2008).</li>
        <li>She came to mainstream popularity for playing the lead role in ‘Mara Clara’ a TV drama series that aired in 2010. It was a remake of the 1992 TV series of the same name.</li>
        <li>Kathryn Bernardo touched new heights of fame in her television career in 2012 after starring in the drama series ‘Princess and I’ which was a huge success. The series earned multiple awards.<</li>
        <li>In the 2010s, she continued being active on both the small and the big screen. The movies she appeared in during this period include ‘Must Be… Love’ (2013), ‘She’s Dating the Gangster’ (2014), ‘Barcelona: A Love Untold’ (2016) and ‘Gandarrapiddo: The Revenger Squad’ (2017).</li>
    </ul>
</div>
<div class="text-center">
    @Html.ActionLink("Return to main", "Index", "Home")
</div>


