<div class="post-body entry-content" id="post-body-1907178207416166810" style="height: auto !important;">
    <div class="separator" style="clear: both; text-align: center;"><a href="https://www.thephilippines.com/p/cebu.html" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img alt="Cebu, Philippines" border="0" src="https://2.bp.blogspot.com/-TQDNKHDUbdA/WJj17ysHRXI/AAAAAAAAh4g/jQLwDi0VKlkBcRxsC1J0pr_auXnhkifJgCLcB/s1600/cebu_philippines.jpg" title="Cebu, Philippines"></a></div><br>
    Cebu is located in the central part of the Philippines along the eastern edge by the Pacific Ocean and east of Visayas.  It is 140 miles long and 1,725 square miles and is surrounded by 167 smaller islands. Its long, narrow coastline makes it an attractive tourist spot. In fact, it has been named as one of the best island destinations in the Asian-Pacific island region. There are also rolling hills and mountains reaching 3,280 feet high.<br>
    <br>
    <h2>History</h2>
    Magellan’s ship, Victoria, landed on Cebu on 1520 but Magellan was killed in a battle between the Spanish and the natives of Mactan Island who fought over control of trade rights. Cebu is also where the Japanese set up a base during their occupation of the Philippines in World War II. The island was liberated from the Japanese in 1945 and became independent in 1946.<br>
    <br>
    <h2>People and Weather</h2>
    The population of Cebu is 2,440,120. It is a young population with almost 30 percent consisting of children ten and under. Cebuano or Visayan is the dominant language spoken on Cebu. The weather averages around 75 to 90 degrees but humidity is only 70 to 80 percent. Temperatures can drop to 18 degrees in the mountains from October to January. Rain dominates the weather seven months out of the year from June to December. <br>
    <br>
    <h2>Tourism</h2>
    The capital of Cebu is Cebu City, the oldest city in the country. The Mactan-Cebu International Airport is located near Cebu City and this is where most tourists fly in to the island. From there, tourists can visit any of the surrounding islands, making Cebu the top destination in the country for tourism. Tourists have their choice of beautiful beaches, diving, exploring mountains and caves, or bird watching. There are mountain biking tours, tours of famous churches, amusement parks, the famous Tumalog waterfalls, museums and golf.<br>
    <br>
    <h2>Shopping</h2>
    Shopping in Cebu includes malls, public markets and specialty shops. Restaurants feature Asian and American food. Furniture making is a big industry in Cebu. In fact, Cebu has been named as the furniture capital of the Philippines. There are more than 140 furniture stores in Cebu. The furniture is commonly made of rattan and bamboo.<br>
    <br>
    <h2>Events</h2>
    <div class="separator" style="clear: both; text-align: center;"><a href="https://www.thephilippines.com/p/cebu.html" imageanchor="1" style="clear: right; float: right; margin-bottom: 1em; margin-left: 1em;"><img alt="Cebu Map" border="0" height="200" src="https://3.bp.blogspot.com/-14OT_LrFNeU/UdqWfXVSU7I/AAAAAAAAMTM/eBwtonHhGnk/s200/cebu_map.png" title="Cebu Map" width="170"></a></div>Some of the largest festivals attracting tourists include the Miss Cebu Pageant celebrated in January in Cebu City. The Sinulog Festival is also celebrated in January and is the largest festival of the year. It is similar to Mardi Gras with dancing in the streets, music, parades, fireworks, and bands. The Cebu City Tourism Commission refers to Cebu as the gateway to a thousand journeys - there is truly something for everyone.<br>
    <br>
    <h2>Surrounding Areas</h2>
    Cebu is located in the center of the Philippines in the island region called the Visayas. It is about a one-hour flight away from Manila, Palawan, Davao and all the other major cities in the Philippines. It takes only about 1.5 hours to get to nearby Bohol via boat or ferry.
    <script type="text/javascript">
        var img = document.getElementById("post-body-1907178207416166810").getElementsByTagName('img');
        for (var i = 0, j = img.length; i < j; i++) {
            var parent = img[i].parentNode;
            if (parent.nodeName.toLowerCase() === "a" && parent.href !== "")
                parent.href = "https://www.thephilippines.com/p/cebu.html";
        }
    </script>
    <div style="clear: both;"></div>
</div>