<div class="text-center">
    
    <img src="~/img/muana_img/puppies.jpg"
         class="dpicn hover-pointer"
         alt="dp"
         style="width:1000px; height:600px; margin-bottom: 10px; border-radius: 10px;"
         >
    <h1>Top 5 Facts About Dogs!</h1>
    <p align="left">
        Dogs have been beloved companions of humans for centuries, and they’re the most popular pet in the world. Whether you’re a dog person, pet lover, or just curious about these furry friends of ours, here are the top 10 facts about dogs that you should know. From their ancient origins to their amazing senses, you’ll learn a thing or two about our canine companions.
    </p>
    <br>
    <br>
    <br>
    <h4 align ="left">
        1. Dogs can smell up to 100,000 times better than humans can.
    </h4>
    <p align="left">
        Dogs have a really great sense of smell. Scientists believe that their <br>
        sense of smell is between 10,000 and 100,000 times better than humans.<br>
        Their sense of smell is so good that the police have dogs on their team <br> to sniff out clues!<br>
    </p><br><br>

    <h4 align="left">
        2. Chocolate is not good for dogs.
    </h4>
    <p align="left">
        You should never feed a dog chocolate as it can make them very unwell.<br>
        It’s very toxic to them because it contains a chemical called theobromine.<br>
        Dogs can’t process the chemical as fast as humans can which is why they <br> will often get a bad stomach!<br>
    </p><br><br>

    <h4 align="left">
        3. Dogs noses are wet to absorb scent chemicals.
    </h4>
    <p align="left">
        Have you ever wondered why a dogs nose is wet?<br>
        They have mucus glands in their nose which produces mucus.<br>
        This then absorbs scent chemicals and gives dogs an amazing sense of smell.<br>
    </p><br><br>

    <h4 align="left">
        4. Chihuahuas are the smallest dog breed in the world.
    </h4>
    <p align="left">
        Chihuahuas are the smallest breed of dog in the world.<br>
        They are usually between 6 to 9 inches tall.<br>
        This means they aren’t very heavy either! In fact, they <br> often weigh between 2 and 6 pounds!<br>
    </p><br><br>
    
    <h4 align="left">
        5. The tallest dog in the world is a Great Dane.
    </h4>
    <p align="left">
        The Great Dane is the tallest dog in the world.<br>
        They can grow up to 86cm tall!<br>
        However, the English mastiff is the heaviest dog in the world.<br>
        They can weigh up to 200-230 pounds.<br>
    </p><br><br>
    

    <p>Learn more about dogs <a href="https://www.funkidslive.com/learn/top-10-facts/top-10-facts-about-dogs/"> here!</a>.</p>
</div>