
<div class="text-center text-black-200 mt-3">
    <h2 class="font-weight-bold">Why does my dog lick me?</h2>
    <div>
    <h6>Animal life</h6>
    <div>
        <div>
            <div>
                    <img class="float-lg-left" src="~/img/doglick.jpg "
                         style="border-radius: 10%;"
                         height="300px" width="400px" />
            </div>
                <div class="mt-4" style="font-size:15px;">
                </div>
                <div style="text-align: right;">
                    <span >
                        If your dog licks you a lot then you’ll know what it’s like to be slobbered on the face,
                        hands and around the mouth, whether you’re stroking them, feeding them or being greeted
                        as you step through the door. Being licked by your dog can be a sign of affection, but
                        it can have a number of other meanings too.
                    </span>
                </div>
        </div>
    </div>
        <div style="padding-left:10px; font-weight:800; font-size:xx-large; color:darkolivegreen">
    Dogs have an instinct to lick
</div>
<p style="padding-left:20px;">
Licking is an important part of being a dog. It’s how they groom, show emotion and communicate.
Mothers will often lick their puppies to keep them clean, give them comfort and encourage them 
to go to the toilet. Puppies will groom themselves and their family and, aside from being a good 
way to clean, it's also a sign of love, affection and a great way to bond.
</p>

<div style="padding-left:10px; font-weight:800; font-size:xx-large; color:darkolivegreen">
    They’re showing affection
</div>

    </div>
    <p >
    Dogs often show affection by licking. It’s an instinctive behaviour that’s linked to the comfort
    they felt when their mother licked them as a puppy. Licking plays an important part of how they 
    bond with others, causing them to release dopamine and endorphins that help make them feel relaxed,
    calm and happy.
</p>
</div>

</div>
<div style="padding-left:20px; font-weight:800; font-size:xx-large; color:darkolivegreen">
    They’re showing empathy
    </div>
<p style="padding-left:20px;" >
    For dogs, licking is a comforting behaviour. If your dog is concerned about you, they may try and lick 
    you to make you feel better and care for you. In a 2012 study, researchers asked owners to pretend to
    cry and found that their dogs were more likely to lick and nuzzle them than when their owners were 
    just humming or talking. It’s possible that these dogs were just displaying a learnt behaviour,
    but many of us would argue that dogs can, to some extent at least, share and understand our feelings.
</p>
</div>
</div>





