@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">SUFICIENCIA PAGE</h1>
    <p>
        This is my page. Instead of talking about myself in this page, I just want you, the viewer, to have a <br />
        breather and relax. So here are some pictures of puppies to ease your stressed mind. And remember, you <br />
        matter more than you know. ENJOY.
    </p>
    <div>
        <img src="https://images.ctfassets.net/sfnkq8lmu5d7/4Ma58uke8SXDQLWYefWiIt/3f1945422ea07ea6520c7aae39180101/2021-11-24_Singleton_Puppy_Syndrome_One_Puppy_Litter.jpg" alt="puppy_image1" style="width:800px; height:600px; margin-bottom: 10px; border-radius: 10px; outline: solid black 0.5px;">
        <br />
        <img src="https://images.ctfassets.net/2djrn56blv6r/63KKR8wAPEaxLGr8xThRP4/3e0ea178bd23c45afd28d579ab5237e8/akc-pupill-hdr-new-new.jpg?fm=webp&q=75&w=1920" alt="puppy_image2" style="width:800px; height:600px; margin-bottom: 10px; border-radius: 10px; outline: solid black 0.5px;">
        <br />
        <img src="https://calmingdog.com/cdn/shop/articles/34809b537a324afbc4e37df971945ba5.jpg?v=1671824502" alt="puppy_image3" style="width:800px; height:600px; margin-bottom: 10px; border-radius: 10px; outline: solid black 0.5px;">
        <br />
        <img src="https://www.dutch.com/cdn/shop/articles/shutterstock_1290320698.jpg?v=1651099282" alt="puppy_image4" style="width:800px; height:600px; margin-bottom: 10px; border-radius: 10px; outline: solid black 0.5px;">
        <br />
        <img src="https://i.guim.co.uk/img/media/fccf2d648bd42dae41b65cad55925181506ec5e7/0_117_6016_3611/master/6016.jpg?width=700&quality=85&auto=format&fit=max&s=81ed138c17389563d26542cb17f64a0d" alt="puppy_image5" style="width:800px; height:600px; margin-bottom: 10px; border-radius: 10px; outline: solid black 0.5px;">
        <br />
        <img src="https://imageserver.petsbest.com/marketing/blog/puppy-diarrhea.jpg" alt="puppy_image6" style="width:800px; height:600px; margin-bottom: 10px; border-radius: 10px; outline: solid black 0.5px;">
        <br />
        <img src="https://media.4-paws.org/1/e/d/6/1ed6da75afe37d82757142dc7c6633a532f53a7d/VIER%20PFOTEN_2019-03-15_001-2886x1999-1920x1330.jpg" alt="puppy_image7" style="width:800px; height:600px; margin-bottom: 10px; border-radius: 10px; outline: solid black 0.5px;">
        <br />
        <img src="https://cdn.psychologytoday.com/sites/default/files/styles/image-article_inline_full_caption/public/field_blog_entry_images/puppy.jpg?itok=bavW9MGw" alt="puppy_image8" style="width:800px; height:600px; margin-bottom: 10px; border-radius: 10px; outline: solid black 0.5px;">
        <br />
        <img src="https://resources.bestfriends.org/sites/default/files/styles/large/public/2018-12/Puppy-Development-Atlanta-Puppies-9344sak_1.jpg?itok=91SPggCy" alt="puppy_image9" style="width:800px; height:600px; margin-bottom: 10px; border-radius: 10px; outline: solid black 0.5px;">
        <br />
    </div>
    @Html.ActionLink("Return to main", "Index", "Home")
</div>